.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    font-weight: bold;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 280px;
    text-align: start;
    line-height: 15px;
    background-color: white;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn:hover{
    color: #EF4444;
    transition: 1s;
}

.call:hover{
    color: #EF4444;
    transition: 1s;
}

.find:hover{
    color: #EF4444;
    transition: 1s;
}

.dropdown-content a:hover{
    color: #D51243;
    transition: 0.5s;
    margin-left: 5px;
}